{% extends 'base_generic.html' %}
{% block content %}
<!--configuracao para real ponto e virgula , e settings-->
{% load l10n %}
<!--carrega pasta static-->
{% load static %}


<!--importar o css-->
<link rel="stylesheet" href="{% static 'car/css/styles.css' %}">

<div class="container mt-5">
    <div class="row">

        {% for single_car in car %}
        <!--for para percorrer a lista dos carros cadastrados-->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <!--Imagem de cada carro-->
                    
                   
                    <img src="{{ single_car.image.url }}"  width="246" height="150">
                
                 
                    <div class="card-body">
                        <h5 class="card-title">{{ single_car.car_name }}</h5>
                        <p class="card-text">Marca: {{ single_car.brand }}</p>
                        <!--preço formatado-->
                        <p class="card-text">Preço: R$ {{ single_car.price|floatformat:2|localize }}</p>
                        <!--botao whatsapp-->
                        <a href="https://api.whatsapp.com/send?phone={{ single_car.whatsapp }}" class="btn btn-success" target="_blank">Contato via WhatsApp</a>
                     
                        
                        <!--botao ver detalhes carro-->
                        <a href="/car/detail/{{ single_car.id }}" class="btn btn-danger btn-detail">Ver Detalhes</a>



                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>




{% endblock %}
