{% extends 'base_generic.html' %}

{% block content %}

<!--
<div class="col-md-3 mb-4">
    <div class="card">
        <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.car_name }}">
        
        <div class="card-body">
         
            <h5 class="card-title">{{ car.car_name }}</h5>
            <p class="card-text">Marca: {{ car.brand }}</p>
            <p class="card-text">Preço: R$ {{ car.price }}</p>
            <a href="https://api.whatsapp.com/send?phone={{ car.whatsapp }}" class="btn btn-success" target="_blank">Contato via WhatsApp</a>
           
        
          </div>
        
    </div>
</div>

-->
<!-- car_all_detail.html -->

<!-- car_all_detail.html -->

<div class="container mt-5">
    <div class="row">
        {% for single_car in car %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ single_car.image.url }}" class="card-img-top" alt="{{ single_car.car_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ single_car.car_name }}</h5>
                        <p class="card-text">Marca: {{ single_car.brand }}</p>
                        <p class="card-text">Preço: R$ {{ single_car.price }}</p>
                        <a href="https://api.whatsapp.com/send?phone={{ single_car.whatsapp }}" class="btn btn-success" target="_blank">Contato via WhatsApp</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


               

{% endblock %}
