{% extends 'base_generic.html' %}

{% block content %}
<!--Autenticacao somente para Admin nessa pagina para PUT e DELETE HTTP-->
{% if user.is_authenticated %}
  {% if user.username == 'admin' %}
  <h3>Bem Vindo, {{ user.username }}!</h3>
    <h5>Altere os dados do Veículo, marque como Vendido, ou exclua.</h5>
  
  <h2>Lista de Carros</h2>
  <a href="{% url 'car:car_new' %}" class="btn btn-primary mb-3">Novo Carro</a>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Proprietário</th>
          <th>WhatsApp</th>
          <th>Nome do Carro</th>
          <th>Marca</th>
          <th>KM</th>
          <th>Preço</th>
          <th>Placa</th>
          <th>Local</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
          <tr>
            <td>{{ car.owner_name }}</td>
            <td>{{ car.whatsapp }}</td>
            <td>{{ car.car_name }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.km }}</td>
            <td>{{ car.price }}</td>
            <td>{{ car.license_plate }}</td>
            <td>{{ car.location }}</td>
            <td>{{ car.get_status_display }}</td>
            <td>
              <a href="{% url 'car:car_edit' car.id %}" class="btn btn-secondary">Editar</a>
              <a href="{% url 'car:car_delete' car.id %}" class="btn btn-danger">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>Você não tem permissão para acessar esta página.</p>
{% endif %}
{% else %}
<p>Você precisa estar logado para acessar esta página. <a href="{% url 'login' %}">Faça login aqui</a>.</p>
{% endif %}
{% endblock %}
