{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6">
          <h2>{{ car.car_name }}</h2>
          <p class="lead">WhatsApp: {{ car.whatsapp }}</p>
          <p class="lead">Marca: {{ car.brand }}</p>
          <p class="lead">KM: {{ car.km }}</p>
          <p class="lead">Preço: R$ {{ car.price|floatformat:2 }}</p>
          <p class="lead">Placa: {{ car.license_plate }}</p>
          <p class="lead">Local: {{ car.location }}</p>
          <p class="lead">
              Status: 
              <span class="badge badge-primary">{{ car.get_status_display }}</span>
          </p>
      </div>
      <div class="col-md-6 text-center">
          {% if car.image %}
              <img src="{{ car.image.url }}" alt="{{ car.car_name }}" class="img-fluid">
          {% endif %}
      </div>
  </div>
</div>

{% endblock %}
